* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #FFECD1;
}
.navBar{
    background-color: #001524;
    color: #ffffff;
    border-radius: 100px;
    font-family: 'Signika', sans-serif;
    margin: 10px 10%;
    padding: 10px 20px;
}
#title{
    font-weight: 300;
}
.navButtons{
    color: #ffffff;
}
.list{
    list-style-type: none;
}
.flexNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navButtons{
    font-size: larger;
}
.flexBut{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 10px;
}
.navBar a{
    padding: 0px 12px;
}
@media screen and (min-width: 561px) and (max-width: 768px){
    .navBar{
        border-radius: 0px;
        padding: 10px;
        margin: 0px;
    }
    #title{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
@media screen and (max-width: 560px){
    .list{
        display: none;
    }
    .navBar{
        border-radius: 100px;
        padding: 10px;
        margin: 10px 50px;
        justify-content: center;
    }
    #title{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}